<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>订单管理系统</title>
</head>

<body>

<p><font size="5" face="华文行楷">订单管理系统</font></p>
<p>&nbsp;</p>
<hr>
<p><a href="{% url 'finance:searchorder' %}">营收平台</a>&nbsp;&nbsp;<a href="{% url 'finance:searchproduce' %}">产品管理</a></p>
<hr>
<p>&nbsp;</p>

</body>

</html>
