<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<title>报价计算</title>
</head>

<body>
{% load static  %}
<script src="{% static 'js/setchecked.js' %}"></script>	
{% include "finance/produce_head.html" %}
<p><font size="5" face="华文行楷">报价计算</font></p>

<div class="panel panel-default">
<form method="GET" action="{% url 'finance:addoffer' %}" class="form-inline" role="form">
	<input type="hidden" name="pids" value="{{ pids }}">
      <div class="panel-heading"> 
	{% csrf_token %}
	<div class="form-group">  
		<input type="input" name="pid" class="form-control" placeholder="产品id(,)" value="{{ request.GET.pid }}">
	 </div> 
	<button type="submit" class="btn btn-primary">+增加</button>
</div>
</form>
</div>
<hr>
<div align="center">
	<form method="POST" action="{% url 'finance:dooffer' %}" class="form-inline" role="form" target="_blank">
		{% csrf_token %}
		<input type="hidden" name="pids" value="{{ pids }}">
		<div class="form-group">  
			<input type="input" name="customer" class="form-control" placeholder="客户">
			<input type="input" name="customersource" class="form-control" placeholder="客户来源">
			<input type="input" name="country" class="form-control" placeholder="国家">
			<select name="level" class="form-control" placeholder="重要程度">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
	 	</div> 
		<button type="submit" class="btn btn-primary">生成报价单</button>
	<table id="example" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
			<th><input type="checkbox" name="chb[]" id="all" onclick="setchecked(this)"></th>
			<th><font size="1">id</font></th>			
			<th><font size="1">产品名称</font></th>
			<th><font size="1">产品描述</font></th>
			<th><font size="1">询价数量</font></th>
			<th><font size="1">倍数</font></th>
			<th><font size="1">汇率</font></th>
		</tr>
		</thead>
		<tbody>
	{% if produce_list %}	
	{% for k in produce_list %}	
	<tr>
		<td><font size="1"><input type="checkbox" name="chb[]" value="" onclick="setchecked(this)"></font></td>
		<td><font size="1">{{ k.id }}</font></td>
		<td><font size="1">{{ k.producename }}</font></td>
		<td><font size="1">{{ k.describe }}</font></td>
		<td><font size="1"><input type="input" name="xunnum" class="form-control" placeholder="询价数量"></font></td>
		<td><font size="1"><input type="input" name="beinum" class="form-control" placeholder="倍数" value="1.5"></font></td>
		<td><font size="1"><input type="input" name="exchangerate" class="form-control" placeholder="汇率" value="6.5"></font></td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td colspan="7" height="117"><font size="1">请添加报价产品</font></td>
	</tr>
	{% endif %}
	
</tbody>
</table>
</form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
     $(document).ready(function() {
        $('#example').DataTable({
                 "pagingType":   "full_numbers",
                 "searching" : false,
           });
    } );
</script>
</body>

</html>
