<html>

<head>
{% load static %}
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<title>增加新产品</title>

</head>

<body>
{% include "finance/produce_head.html" %}
<p><font size="5" face="华文行楷">新增</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="7" face="华文行楷" color="red">{{ error_msg }}</font></p>
<form action="" method="post"  autocomplete="off" class="form-inline" role="form">
	<div class="panel panel-default">
      <div class="panel-heading"> 
	 {% csrf_token %}
	 <div class="form-group">	 	 
	 {{ form_obj.as_p }}
	</div> 
	<button type="submit" class="btn btn-primary">新增</button>
</div>
</div>
</form>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
