<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<title>信息</title>
</head>

<body>
{% load static  %}
<script src="{% static 'js/setchecked.js' %}"></script>	
{% include "finance/produce_head.html" %}
<p><font size="2" color="red">{% if error_msg %}{{error_msg}}{% endif %}</font></p>
</body>

</html>
