<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<title>报价单</title>
</head>

<body>
{% load static  %}
<script src="{% static 'js/setchecked.js' %}"></script>	
{% include "finance/produce_head.html" %}
<p><font size="5" face="华文行楷">报价单</font></p>

<div class="panel panel-default">
<div align="center">
	<table id="example" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
			<th><input type="checkbox" name="chb" id="all" onclick="setchecked(this)"></th>
			{% if params %}
			{% for result_recode in params %}
			<th><font size="1">{{result_recode.verbose_name}}</font></th>
			{% endfor %}
			{% endif %}
			<th><font size="1">操作</font></th>
		</tr>
		</thead>
		<tbody>
	{% if offer_list %}	
	{% for k in offer_list %}	
	<tr>
		<td><font size="1"><input type="checkbox" name="chb" value="{{ k.id }}" onclick="setchecked(this)"></font></td>
		<td><font size="1">{{ k.offerid }}</font></td>
		<td><font size="1">{{ k.customer }}</font></td>
		<td><font size="1">{{ k.customersource }}</font></td>
		<td><font size="1">{{ k.country }}</font></td>
		<td><font size="1">{{ k.level }}</font></td>
		<td><font size="1">{{ k.createdatetime |date:"Y-m-d H:i:s" }}</font></td>
		<td><font size="1"><a href="{% url 'finance:searchofferdetail' %}?offerid={{k.offerid}}" target="_blank">详情</a>&nbsp;&nbsp;&nbsp;<a href="{% url 'finance:deloffer' k.offerid %}">删除</a></font></td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td colspan="27" height="117"><font size="1">找到0条数据</font></td>
	</tr>
	{% endif %}
	
</tbody>
	</table>
</div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
     $(document).ready(function() {
        $('#example').DataTable({
                 "pagingType":   "full_numbers"
           });
    } );
</script>
</body>

</html>
