<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<title>报价</title>
</head>

<body>
<p><font size="5" face="华文行楷">报价</font></p>

<div align="center">
	<form method="POST" action="" class="form-inline" role="form">
		{% csrf_token %}
		<input type="hidden" name="offerid" value="{{ offerid }}">
		<p><button type="submit" class="btn btn-primary" formaction="{% url 'finance:changeoffer' %}">修改保存</button>&nbsp;&nbsp;&nbsp;
		   <button type="submit" class="btn btn-primary" formaction="{% url 'finance:addorder' %}">新增订单</button>
		</p>
	    <p><font size="2" color="red">{% if error_msg %}{{error_msg}}{% endif %}</font></p>

<div align="left">
<table width="800">
	<tr>
		<td><font size="1">报价单编号：</font></td>
		<td><font size="1">{{ offerid }}</font></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td><font size="1">客户：</font></td>
		<td><font size="1"><input type="input" name="customer" class="form-control" placeholder="客户" value="{{ offer_list.customer }}"></font></td>
		<td><font size="1">来源：</font></td>
		<td><font size="1"><input type="input" name="customersource" class="form-control" placeholder="客户来源" value="{{ offer_list.customersource }}"></font></td>
		<td><font size="1">国家：</font></td>
		<td><font size="1"><input type="input" name="country" class="form-control" placeholder="国家" value="{{ offer_list.country }}"></font></td>
		<td><font size="1">重要性：</font></td>
		<td>
		<select name="level" class="form-control" placeholder="重要程度">
			{% for i in level_list %}
			{% if i == offer_list.level %}
				<option selected >{{i}}</option>
			{% else %}
				<option>{{i}}</option>
			{% endif %}
			{% endfor %}
			</select></td>
	</tr>
</table>
</div>
	<table id="example" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th><input type="checkbox" name="chb" id="all" onclick="setchecked(this)"></th>
		{% if params %}
			{% for result_recode in params %}
			<th><font size="1">{{result_recode.verbose_name}}</font></th>
			{% endfor %}
			{% endif %}
			<th><font size="1">操作</font></th>
		</tr>
		</thead>
		<tbody>
	{% if offerdetail_list %}	
	{% for k in offerdetail_list %}	
	<tr>
		<td><font size="1"><input type="checkbox" name="chb" value="{{ k.id }}" onclick="setchecked(this)"></font></td>
		<td><font size="1">{{ k.id }}</font></td>
		<td><font size="1">{{ k.offer.offerid }}</font></td>
		<td><font size="1">{{ k.produce.id }}</font></td>		
		<input type="hidden" name="produceid" value="{{ k.produce.id }}">
		<td><font size="1"><input type="input" name="xunnum" class="form-control" placeholder="询价数量" value={{ k.xunnum }} size="4"></font></td>
		<td><font size="1"><input type="input" name="beinum" class="form-control" placeholder="倍数" value={{ k.beinum }} size="2"></font></td>
		<td><font size="1"><input type="input" name="exchangerate" class="form-control" placeholder="汇率" value={{ k.exchangerate }} size="4"></font></td>
		<td><font size="1">{{ k.beiprice }}</font></td>
		<td><font size="1">{{ k.profitsrmb }}</font></td>
		<td><font size="1">{{ k.usdprice }}</font></td>
		<td><font size="1">{{ k.usdtotalprice }}</font></td>
		<td><font size="1">{{ k.number }}</font></td>
		<td><font size="1">{{ k.totalvolume }}</font></td>
		<td><font size="1">{{ k.unitweight }}</font></td>
		<td><font size="1">{{ k.totalvolumeweight }}</font></td>
		<td><font size="1">{{ k.totalweight }}</font></td>
		<td><font size="1">{{ k.createdatetime |date:"Y-m-d H:i:s" }}</font></td>
		<td><font size="1"><a href="{% url 'finance:delofferdetail'  %}?offerid={{k.offer.offerid}}&id={{k.id }}">删除</a></font></td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td colspan="6" height="117"><font size="1">{{ error_msg }}</font></td>
	</tr>
	{% endif %}
	
</tbody>
</table>
</form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
     $(document).ready(function() {
        $('#example').DataTable({
                 "pagingType":   "full_numbers",
                 "searching" : false,
           });
    } );
</script>
</body>

</html>
