<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<title>订单详情</title>
</head>

<body>
{% load static  %}
<script src="{% static 'js/setchecked.js' %}"></script>	
{% include "finance/order_head.html" %}
<div class="panel panel-default">
<p><font size="5" face="华文行楷">订单信息 &nbsp;{{ order_id }}</font><form method="GET" action="{% url 'finance:addorderdetail' order_id %}" class="form-inline" role="form" target="_blank"><button type="submit" class="btn btn-primary">添加新信息</button></form></p>
<hr>
<div align="center">
	<table id="" class="display" width="100%">
		<thead>
			<tr>
			<th><input type="checkbox" name="on" id="all" onclick="setchecked(this)"></th>
			{% if order_detail_params %}
			{% for result_recode in order_detail_params %}
			<th><font size="1">{{result_recode.verbose_name}}</font></th>
			{% endfor %}
			{% endif %}
			<th><font size="1">更新</font></th>
			<th><font size="1">删除</font></th>
		</tr>
		</thead>
		<tbody>
	{% if order_detail_list %}	
	{% for k in order_detail_list %}	
	<tr>
		<td><font size="1"><input type="checkbox" name="chb" value="{{ k.id }}" onclick="setchecked(this)"></font></td>
		<td><font size="1">{{ k.product }}</font></td>
		<td><font size="1">{{ k.product_num }}</font></td>
		<td><font size="1">{{ k.beinum }}</font></td>
		<td><font size="1">{{ k.unit_price }}</font></td>
		<td><font size="1">{{ k.sum_price }}</font></td>
		<td><font size="1"><a href="{% url 'finance:updateorderdetail' k.order_id k.id %}">更新</a></font></td>
		<td><font size="1"><a href="{% url 'finance:deleteorderdetail' k.order_id k.id %}">删除</a></font></td>	
	{% endfor %}
	{% else %}
	<tr>
		<td colspan="27" height="117"><font size="1">找到0条数据</font></td>
	</tr>
	{% endif %}
	
</tbody>
</table>
</div>


<p><font size="5" face="华文行楷">收款信息</font><form method="GET" action="{% url 'finance:addordercollection' order_id %}" class="form-inline" role="form" target="_blank"><button type="submit" class="btn btn-primary">添加新信息</button></form>
</p>
<hr>
<div align="center">
	<table id="" class="display" width="100%">
		<thead>
			<tr>
			<th><input type="checkbox" name="on" id="all" onclick="setchecked(this)"></th>
			{% if order_collection_params %}
			{% for result_recode in order_collection_params %}
			<th><font size="1">{{result_recode.verbose_name}}</font></th>
			{% endfor %}
			{% endif %}
			<th><font size="1">更新</font></th>
			<th><font size="1">删除</font></th>
		</tr>
		</thead>
		<tbody>
	{% if order_collection_list %}	
	{% for k in order_collection_list %}	
	<tr>
		<td><font size="1"><input type="checkbox" name="chb" value="{{ k.order_id }}" onclick="setchecked(this)"></font></td>
		<td><font size="1">{{ k.date_of_col |date:"Y-m-d" }}</font></td>
		<td><font size="1">{{ k.produce_desc }}</font></td>
		<td><font size="1">{{ k.collection_mount }}</font></td>
		<td><font size="1">{{ k.collection_s_mount }}</font></td>		
		<td><font size="1">{{ k.rec_account }}</font></td>
		<td><font size="1">{{ k.credit_id }}</font></td>
		<td><font size="1">{{ k.ydt_id }}</font></td>
		<td><font size="1">{{ k.deliver_desc }}</font></td>
		<td><font size="1">{{ k.total_am_received_rmb }}</font></td>
		<td><font size="1">{{ k.total_real_received_rmb }}</font></td>
		<td><font size="1">{{ k.estimated_exchange_rate }}</font></td>
		<td><font size="1">{{ k.real_exchange_rate }}</font></td>
		<td><font size="1">{{ k.collection_method }}</font></td>
		<td><font size="1">{{ k.type_money }}</font></td>
		<td><font size="1">{{ k.remarks }}</font></td>
		<td><font size="1"><a href="{% url 'finance:updateordercollection' k.order_id k.id %}">更新</a></font></td>
		<td><font size="1"><a href="{% url 'finance:deleteordercollection' k.order_id k.id %}">删除</a></font></td>

	{% endfor %}
	{% else %}
	<tr>
		<td colspan="27" height="117"><font size="1">找到0条数据</font></td>
	</tr>
	{% endif %}
	
</tbody>
</table>
</div>



<p><font size="5" face="华文行楷">付款信息</font><form method="GET" action="{% url 'finance:addordercost' order_id %}" class="form-inline" role="form" target="_blank"><button type="submit" class="btn btn-primary">添加新信息</button></form>
</p>
<hr>
<div align="center">
	<table id="" class="display" width="100%">
		<thead>
			<tr>
			<th><input type="checkbox" name="on" id="all" onclick="setchecked(this)"></th>
			{% if order_cost_params %}
			{% for result_recode in order_cost_params %}
			<th><font size="1">{{result_recode.verbose_name}}</font></th>
			{% endfor %}
			{% endif %}
			<th><font size="1">更新</font></th>
			<th><font size="1">删除</font></th>
		</tr>
		</thead>
		<tbody>
	{% if order_cost_list %}	
	{% for k in order_cost_list %}	
	<tr>
		<td><font size="1"><input type="checkbox" name="chb" value="{{ k.id }}" onclick="setchecked(this)"></font></td>
		<td><font size="1">{{ k.payment_date |date:"Y-m-d" }}</font></td>
		<td><font size="1">{{ k.produce_desc }}</font></td>
		<td><font size="1">{{ k.tax_point }}</font></td>
		<td><font size="1">{{ k.total_amount_of_cost_payable }}</font></td>
		<td><font size="1">{{ k.actual_payment_amount }}</font></td>
		<td><font size="1">{{ k.invoice_amount }}</font></td>
		<td><font size="1">{{ k.ticket_yesno }}</font></td>
		<td><font size="1">{{ k.tax_refund }}</font></td>
		<td><font size="1">{{ k.supplier }}</font></td>		
		<td><font size="1">{{ k.payment_method }}</font></td>
		<td><font size="1">{{ k.type_money }}</font></td>
		<td><font size="1">{{ k.cost_type }}</font></td>
		<td><font size="1">{{ k.remarks }}</font></td>
		<td><font size="1"><a href="{% url 'finance:updateordercost' k.order_id k.id %}">更新</a></font></td>
		<td><font size="1"><a href="{% url 'finance:deleteordercost' k.order_id k.id %}">删除</a></font></td>

	{% endfor %}
	{% else %}
	<tr>
		<td colspan="27" height="117"><font size="1">找到0条数据</font></td>
	</tr>
	{% endif %}
	
</tbody>
</table>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
     $(document).ready(function() {
        $('table.display').DataTable({
                 "pagingType":   "full_numbers"
           });
    } );
</script>
</body>

</html>
