<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<title>营收平台</title>
</head>

<body>
{% load static  %}
<script src="{% static 'js/setchecked.js' %}"></script>	
{% include "finance/order_head.html" %}
<p><font size="5" face="华文行楷">查询</font></p>

<div class="panel panel-default">
<form method="GET" action="{% url 'finance:addoffer' %}" class="form-inline" role="form" target="_blank">
<div class="panel-heading"> 
	{% csrf_token %}
		<button type="submit" class="btn btn-primary">新增订单</button>
</div>

<hr>
<div align="center">
	<table id="example" class="display" width="100%">
		<thead>
			<tr>
			<th><input type="checkbox" name="on" id="all" onclick="setchecked(this)"></th>
			{% if params %}
			{% for result_recode in params %}
			<th><font size="1">{{result_recode.verbose_name}}</font></th>
			{% endfor %}
			{% endif %}
		</tr>
		</thead>
		<tbody>
	{% if order_total_list %}	
	{% for k in order_total_list %}	
	<tr>
		<td><font size="1"><input type="checkbox" name="chb" value="{{ k.order_id }}" onclick="setchecked(this)"></font></td>
		<td><font size="1"><a href="{% url 'finance:searchorderdetail'  %}?order_id={{k.order_id}}">{{ k.order_id }}</a></font></td>
		<td><font size="1">{{ k.customer }}</font></td>
		<td><font size="1">{{ k.total_am_recable_usd }}</font></td>
		<td><font size="1">{{ k.total_am_recable_rmb }}</font></td>
		<td><font size="1">{{ k.total_am_received_usd }}</font></td>
		<td><font size="1">{{ k.total_am_received_rmb }}</font></td>
		<td><font size="1">{{ k.exchange_rate }}</font></td>
		<td><font size="1">{{ k.Gross_profit }}</font></td>
		<td><font size="1">{{ k.Bal_of_rec }}</font></td>
		<td><font size="1">{{ k.Bal_of_pay }}</font></td>
		<td><font size="1">{{ k.Profit }}</font></td>
		<td><font size="1">{{ k.createdatetime |date:"Y-m-d H:i:s" }}</font></td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td colspan="27" height="117"><font size="1">找到0条数据</font></td>
	</tr>
	{% endif %}
	
</tbody>
	</table>
</div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
     $(document).ready(function() {
        $('#example').DataTable({
                 "pagingType":   "full_numbers"
           });
    } );
</script>
</body>

</html>
