<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>订单管理系统</title>
</head>

<body>

<p><font size="5" face="华文行楷">营收平台</font></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="right"><font size="2"><a href="{% url 'index' %}" style="text-decoration:none">首页</a>
<hr>
<p><a href="{% url 'finance:searchorder' %}">订单查询</a></p>
<hr>
<p>&nbsp;</p>

</body>

</html>
