<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<title>查询产品</title>
</head>

<body>
{% load static  %}
<script src="{% static 'js/setchecked.js' %}"></script>	
{% include "finance/produce_head.html" %}
<p><font size="5" face="华文行楷">查询</font></p>

<div class="panel panel-default">
<form method="GET" action="" class="form-inline" role="form" target="_blank">
<div class="panel-heading"> 
	{% csrf_token %}
		<button type="submit" class="btn btn-primary" formaction="{% url 'finance:addoffer' %}">新增报价</button>
</div>

<hr>
<div align="center">
	<table id="example" class="display" width="100%">
		<thead>
			<tr>
			<th><input type="checkbox" name="on" id="all" onclick="setchecked(this)"></th>
			{% if params %}
			{% for result_recode in params %}
			<th><font size="1">{{result_recode.verbose_name}}</font></th>
			{% endfor %}
			{% endif %}
			<th><font size="1">增</font></th>
			<th><font size="1">删</font></th>
			<th><font size="1">改</font></th>
		</tr>
		</thead>
		<tbody>
	{% if produce_list %}	
	{% for k in produce_list %}	
	<tr>
		<td><font size="1"><input type="checkbox" name="chb" value="{{ k.id }}" onclick="setchecked(this)"></font></td>
		<td><font size="1">{{ k.id }}</font></td>
		<td><font size="1">{{ k.category }}</font></td>
		<td><font size="1">{{ k.producename }}</font></td>
		<td><font size="1">{{ k.describe }}</font></td>
		<td><font size="1">{{ k.pronumber }}</font></td>
		<td><font size="1">{{ k.factorynumber }}</font></td>
		<td><font size="1">{{ k.icon }}</font></td>
		<td><font size="1">{{ k.manufacturer }}</font></td>
		<td><font size="1">{{ k.size }}</font></td>
		<td><font size="1">{{ k.weight }}</font></td>
		<td><font size="1">{{ k.packdetailsnote }}</font></td>
		<td><font size="1">{{ k.eachpacknum }}</font></td>
		<td><font size="1">{{ k.plong }}</font></td>
		<td><font size="1">{{ k.pwide }}</font></td>
		<td><font size="1">{{ k.phigh }}</font></td>
		<td><font size="1">{{ k.factoryprice }}</font></td>
		<td><font size="1">{{ k.unit }}</font></td>
		<td><font size="1">{{ k.freightdesc }}</font></td>
		<td><font size="1">{{ k.taxprice }}</font></td>
		<td><font size="1">{{ k.taxpointnote }}</font></td>
		<td><font size="1">{{ k.createdatetime |date:"Y-m-d H:i:s" }}</font></td>
		<td><font size="1"><a href="{% url 'finance:addproduce' %}?id={{k.id}}">增加</a></font></td>
		<td><font size="1"><a href="{% url 'finance:deleteproduce' %}?id={{k.id}}">删除</a></font></td>
		<td><font size="1"><a href="{% url 'finance:changeproduce' k.id %}">修改</a></font></td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td colspan="27" height="117"><font size="1">找到0条数据</font></td>
	</tr>
	{% endif %}
	
</tbody>
	</table>
</div>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
     $(document).ready(function() {
    $('#example').DataTable( {
        "pagingType": "full_numbers"
    } );
} );
</script>
</body>

</html>
